#header {
    position: relative;
    z-index: 99999;
}

@import "header_top";
@import "top_bar";
@import "top_nav";
@import "title_box";

body {
    &.header_transparent {
        #header {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
    }
}

.stm-header__hb .stm-navigation {
    font-family: "Poppins";
}

body {
    .stm-header__hb .stm-navigation__default > ul > li ul {
        width: 220px;
        li {
            border: 0;
            a {
                font-size: 16px;
                &:hover {
                    background-color: $stm_third_color;
                }
            }
            &.menu-item-has-children,
            &.page_item_has_children {
                > a {
                    &:before {
                        content: '';
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        margin: -4px 0 0;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        border-left: 5px solid #cccccc;
                    }
                    &:hover:before {
                        border-left-color: $stm_secondary_color;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    body .stm-header__hb .stm-navigation__default>ul>li ul li.menu-item-has-children>a:before,
    body .stm-header__hb .stm-navigation__default>ul>li ul li.page_item_has_children>a:before,
    .stm-header__hb .stm-navigation__default>ul>li.menu-item-has-children>a:after {
        display: none !important;
    }
}