$icomoon-font-path: "fonts" !default;

$stm-bc_notebook: "\e960";
$stm-bitcoin: "\e961";
$stm-btc_auditable: "\e962";
$stm-btc_integration: "\e963";
$stm-btc_invest: "\e964";
$stm-btc_phone: "\e965";
$stm-btc_public: "\e966";
$stm-btc_research: "\e967";
$stm-btc_to_card: "\e968";
$stm-btc_wallet: "\e969";
$stm-btc_workshop: "\e96a";
$stm-crypto_secured: "\e96b";
$stm-lined: "\e96c";
$stm-spinner: "\e96d";
$stm-unicorn: "\e96e";
$stm-play-btn: "\e95f";
$stm-grid: "\e95d";
$stm-rectangle: "\e95e";
$stm-nokia_outline: "\e95a";
$stm-ppl_outline: "\e95b";
$stm-sun_outline: "\e95c";
$stm-branch: "\e959";
$stm-stm14_fax: "\e958";
$stm-stm14_bulb: "\e949";
$stm-stm14_calc: "\e94a";
$stm-stm14_calendar: "\e94b";
$stm-stm14_country: "\e94c";
$stm-stm14_health: "\e94d";
$stm-stm14_left_arrow: "\e94e";
$stm-stm14_manufacturing: "\e94f";
$stm-stm14_office: "\e950";
$stm-stm14_plane: "\e951";
$stm-stm14_public: "\e952";
$stm-stm14_quote: "\e953";
$stm-stm14_right_arrow: "\e954";
$stm-stm14_satellite: "\e955";
$stm-stm14-arrow: "\e956";
$stm-stn14_home: "\e957";
$stm-cart_13: "\e93f";
$stm-chip_13: "\e940";
$stm-env_13: "\e941";
$stm-horse_13: "\e942";
$stm-human_13: "\e943";
$stm-mail_13: "\e944";
$stm-phone_13_2: "\e945";
$stm-phone_13: "\e946";
$stm-pin_13: "\e947";
$stm-quote_13: "\e948";
$stm-quote2: "\e93b";
$stm-pin-11: "\e93c";
$stm-envelope-11: "\e93d";
$stm-phone-11: "\e93e";
$stm-quote8: "\e939";
$stm-shopping-cart8: "\e93a";
$stm-aim7: "\e933";
$stm-cup7: "\e934";
$stm-user7: "\e935";
$stm-docs7: "\e936";
$stm-bar-graph7: "\e937";
$stm-plant7: "\e938";
$stm-lorry6: "\e92d";
$stm-lamp6: "\e92e";
$stm-building6: "\e92f";
$stm-cart6: "\e930";
$stm-line-graph6: "\e931";
$stm-plane6: "\e932";
$stm-user: "\e928";
$stm-crown: "\e926";
$stm-cup: "\e927";
$stm-polygon: "\e929";
$stm-person-globe: "\e923";
$stm-head: "\e924";
$stm-arm-leaf: "\e925";
$stm-phone: "\e921";
$stm-phone6: "\e92a";
$stm-clock6: "\e92b";
$stm-pin6: "\e92c";
$stm-clock: "\e922";
$stm-plus: "\e920";
$stm-earth: "\e91d";
$stm-chart-refresh: "\e91e";
$stm-chart-monitor: "\e91f";
$stm-hexagon: "\e91c";
$stm-metals: "\e916";
$stm-oil: "\e917";
$stm-target: "\e918";
$stm-rating_down: "\e914";
$stm-libra: "\e915";
$stm-diamond: "\e90c";
$stm-idea: "\e90d";
$stm-stats: "\e90e";
$stm-badge: "\e90f";
$stm-security: "\e910";
$stm-binoculars: "\e911";
$stm-mans: "\e912";
$stm-nokia: "\e913";
$stm-testimonials-new-2: "\e90b";
$stm-envelope: "\e91a";
$stm-email: "\e908";
$stm-iphone: "\e909";
$stm-location-2: "\e90a";
$stm-marker: "\e919";
$stm-check: "\e907";
$stm-truck: "\e902";
$stm-lamp: "\e903";
$stm-cart-2: "\e91b";
$stm-cart: "\e904";
$stm-home: "\e905";
$stm-graph: "\e906";
$stm-airplane: "\e901";
$stm-compass: "\e900";

