/*
    Template: crypterio
    Theme Name: Crypterio Child Theme
    Theme URI: http://crypterio.stylemixthemes.com/
    Author: StylemixThemes
    Author URI: http://stylemixthemes.com/
    Description: Crypterio – theme for ICO Consulting, Bitcoin and Cryptocurrency experts and advisors.  Launch your project featured by ICO landing page template, online cryptocurrency exchange rates, as well as special pages for services and cases.
    Version: 1.0
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: blue, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, sticky-post, translation-ready
    Text Domain: crypterio-child-theme
*/



/* 
 * ==========
 * Variables 
 * ==========
 */


/* Colors
 * ==========
 * 
 * White: #FFFFFF
 * Black: #01162a
 * Gray: #535353
 *
 * Blue: #3753fb
 * Dark Blue: #032865
 * Yellow: #dffc35
 * Green: #2cfdb8
 *
 */

/* 
 * ==========
 * Global 
 * ==========
 */


/* 
 * Heroicons
 * ==========
 */
  .heroicon{

    max-width: 80px;
  }

 .heroicon-outline {

    fill: #626262; 
  }

 .heroicon-component-fill {
    
    fill: white; 
  }

 .heroicon-component-accent {
  
    fill: rgba(14, 48, 251, 0.6); 
  }

 .heroicon-shadows {

    fill: #626262;
    opacity: 0.4; 
 }


 /* 
 * Onload Animation
 * ==========
 */

 .onload{

    opacity: 0.0;
    pointer-events: none;

    transform: translateY(-100px);

    transition: transform 1s, opacity 1s;
 }


.onload.active{

    opacity: 1.0;
    pointer-events: all;

    transform: translateY(0px);
}

/* 
 * Layout
 * ==========
 */

 #main{

    padding-bottom: 0px !important;
 }


/* 
 * Typography
 * ==========
 */

body{

    color: #01162a !important;

    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'PT Mono', monospace !important;
}

h1, h2, h3, h4, h5, h6{

    /*color: #022152 !important;*/
    font-family: 'Open Sans', sans-serif !important;
    /*font-family: 'PT Mono', monospace !important;*/
    font-weight: 700;
}

.readability-optimize *{

    max-width: 650px;
}

a > i{

    /*margin-right: 10px;*/
    color: inherit !important;
}


/* 
 * Navigation (Header) 
 * ==========
 */

header#header{

    /*background-color: transparent;*/
    padding: 50px 0px;
}

header#header *{

    /*color: #022152;*/
}

/* 
 * Footer
 * ==========
 */

footer#footer{

    background-color: #032865 !important;
    box-shadow: none;
}

footer#footer .footer_widgets section.widget{

    margin-bottom: 0px !important;
    margin-top: 20px;
    text-align: right;
}

footer#footer .footer_widgets section.widget a{

    color: #FFFFFF;
    margin-right: 20px;
}

footer#footer .footer_widgets section.widget a:hover{

    text-decoration: underline;
}

footer#footer .footer_widgets section.widget.widget_custom_html{

    opacity: 0.6;
}


/* 
 * ==========
 * Theming 
 * ==========
 */

/* Light Section Theme */
.light *{

    color: #FFFFFF;
}

.light p{

    opacity: 0.8;
}


/* Dark Section Theme */
.dark *{

    color: #01162a;
}

.dark p:not(:first-child){

    opacity: 0.8;
}

.dark a{

    color: #01162a;
    text-decoration: none;

    /*border-bottom: 1px solid #01162a;*/
    /*padding-bottom: 5px;*/

    /*opacity: 0.6;*/
}

.dark a:hover{

    /*opacity: 1.0;*/
    /*color: #0E30FB;*/
    /*border-bottom: 1px solid #0E30FB;*/
}



/* 
 * ==========
 * Components 
 * ==========
 */


 /* 
  * Separator
  * ==========
  */

 .separator-row{

    overflow: visible !important;
 }

 .separator{

    width: 105vw;
    height: 100px;

    transform: rotateZ(-3deg);

    position: absolute;
    left: -2.5%;
    bottom: -40px;

    background-color: #FFFFFF;
    z-index: 2;
 }

 /* 
  * Coin Ticker
  * ==========
  */

 .stm-header__cell_right .stm-header__element:last-child{

    width: 100%;
 }

 .stm_currencies_simple_list .scsl__single{

    width: 20% !important;
 }

 .stm_currencies_simple_list .scsl__single .inner .scsl__name{

    color: #022152 !important;
 }

 .stm_currencies_simple_list .scsl__single .inner .scsl__name .scsl__change_minus{

    color: #F05D5E !important;
 }

 .stm_currencies_simple_list .scsl__single .inner .scsl__price{

    color: #022152 !important;
    opacity: 0.6;
 }

 .stm_currencies_simple_list .scsl__single .inner .scsl__time{

    display: none;
 }


/* 
 * CTA Form
 * ==========
 */

 .blockspeed-form{

    /*box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.08);*/
    padding: 25px;

    background-color: none;

    position: relative;

    border-radius: 3px;

    /*transform: translateY(100px);*/

    z-index: 3;

    color: #3753fb;
 }

 .blockspeed-form h3{

    color: #3753fb;
    padding-top: 0px;
 }

/* All inputs. */
.blockspeed-form input{

    display: block;
    width: 100%;
    margin-bottom: 20px;

    height: 50px;

    padding: 5px 10px;

    border: 1px solid #F7F7F7;
}

.blockspeed-form input::placeholder{

    opacity: 0.2;
}

/* Submit button. */
.blockspeed-form input[type="submit"]{

    background-color: #0E30FB;
    color: #FFFFFF;

    border: 0px;

    opacity: 0.8;
    font-family: 'PT Mono', monospace !important;
}

.blockspeed-form input[type="submit"]:hover{

    opacity: 1.0;
}

/* All labels. */
.blockspeed-form label{

       
}

/* Required asterisks. */
.blockspeed-form label span.asterisk{

    color: #F05D5E;
}

.blockspeed-form small{

    /*opacity: 0.2;*/
    color: #FFFFFF;
}


/* 
 * ==========
 * Sections 
 * ==========
 */


/* 
 * Homepage 
 * ==========
 */

body.home .page_title{

    display: none;
}

/* Hero Section */

body.home section#hero{

    padding-top: 150px;
    padding-bottom: 0px;
}

body.home section#hero h1{

    color: #dffc35;
    margin-bottom: 0px;
}

body.home section#hero a{

    display: inline-block;

    background-color: #3753fb;
    color: #dffc35;

    font-weight: bold;

    padding: 10px 25px;
}

body.home section#hero a:hover{

    opacity: 1.0;
}

body.home section#hero a > i{

    /*text-decoration: underline;*/
    padding-left: 10px;
}

/* Services Section */
body.home section#services{

    position: relative;
    z-index: 0;

    padding-top: 200px;
    padding-bottom: 100px;
}

body.home section#services .service-item{

    max-width: 250px;
    margin: 0 auto;

    margin-bottom: 80px;

    text-align: center;
}

body.home section#services .service-item h3{

    margin-bottom: 10px;
    padding-top: 0px;
    /*font-size: 20px;*/
}

body.home section#services .service-item i.fa{

    font-size: 2.5rem;
    color: #0E30FB;

    opacity: 0.6;
}

/* Customer Wins Section */
body.home section#customer-wins{

    padding-top: 100px;
    padding-bottom: 0px;

    /*transform: translateY(-125px);*/
}

body.home section#customer-wins .customer-win{

    /*border-radius: 3px;*/
    /*box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.08);*/
    border: 1px solid #3753fb;
    padding: 25px 40px;

    background-color: #FFFFFF;
    /*background-color: rgba(2, 33, 82, 0.6);*/

    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 60px;

    position: relative;
}

body.home section#customer-wins .customer-win:not(.highlighted)::after{

    background-color: #3753fb;
}

body.home section#customer-wins .customer-win.highlighted{

    border-color: transparent;
    background-color: #3753fb;

    position: relative;
    /*z-index: 1;*/
}

body.home section#customer-wins .customer-win.highlighted *{

    color: #FFFFFF;
}   

body.home section#customer-wins .customer-win::after{

    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 25px;
    left: -25px;

    background-color: #032865;
    z-index: -1;
}

body.home section#customer-wins .customer-win::after{

    /*content: '';
    width: 25px;
    height: 25px;

    display: block;

    background-color: #2A2D34;
    box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.08);

    position: absolute;

    opacity: 0.08;

    left: 40px;
    bottom: -12.5px;
    transform: rotateZ(45deg);

    z-index: -1;*/
}

body.home section#customer-wins .customer-win h4{

    margin-bottom: 0px;
}

body.home section#customer-wins .customer-win p:last-child{

    margin-bottom: 0px;
    opacity: 0.6;
}

body.home section#customer-wins .wpb_column:last-child{

    /*transform: translateY(100px);*/
}

/* Team Section */
body.home section#team{

    padding-top: 50px;
    padding-bottom: 100px;
}

body.home section#team h3{

    margin-bottom: 0px;
    padding-top: 0px;
}

body.home section#team h3.header{

    margin-bottom: 60px;
}

body.home section#team .wpb_column{

    padding-right: 90px;
}

body.home section#team .team-item{

    margin-bottom: 80px;
}

body.home section#team .team-item .image,
body.home section#team .team-item .content{

    display: inline-block;
    vertical-align: top;
}

body.home section#team .team-item .image{

    max-width: 40%;
    /*margin-right: 60px;*/

    width: 100%;
    height: 100%;
}

body.home section#team .team-item .content{

    max-width: calc(60%);
}

body.home section#team .team-item .image .team-profile-image{

    max-width: 200px;
    margin: 0 auto;

    width: 100%;
    height: 200px;

    background-size: cover;
    background-position: center;

    display: block;

    position: relative;
}

body.home section#team .team-item .image .team-profile-image::after{

    content: '';
    position: absolute;
    display: block;

    left: -20px;
    top: 20px;

    width: 100%;
    height: 100%;

    background-color: #01162a;

    z-index: -1;
}

body.home section#team .team-item .content > p.role{

    border-bottom: 8px solid #2cfdb8;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

body.home section#team .team-item .content > ul.social-links{

    border-bottom: 2px dotted #01162a;
    margin-bottom: 10px;
    padding-bottom: 20px;
}


body.home section#team .team-item .content p:not(.role){

    font-size: 1.6rem;
    line-height: 1.5;

    color: #535353;

    opacity: 1.0;
}

body.home section#team .team-item .content p:last-of-type{

    margin-top: 25px;
    margin-bottom: 25px;
}

body.home section#team .team-item ul{

    margin: 0px;
    padding: 0px;

    list-style: none;
}

body.home section#team .team-item ul li{

    display: inline-block;
    padding: 0px;

    margin: 0px;
    margin-right: 40px;
}

body.home section#team .team-item ul.brand-images li{

    max-width: 125px;
    position: relative;

    margin-right: 25px;
}

body.home section#team .team-item ul.brand-images li:not(:last-child)::after{

    content: "•";
    display: inline-block;

    position: absolute;
    right: -20px;
    top: 10px;
}

body.home section#team .team-item ul.social-links li::before{

    content: none;
}

body.home section#team .team-item ul.social-links{

    display: relative;
}

body.home section#team .team-item ul.social-links li::after{

    content: '\27F6';
    display: inline-block;

    position: absolute;
    right: -30px;
    top: 0px;
}

/* Newsletter CTA Section */
body.home section#newsletter-cta{

    overflow: visible !important;

    padding-top: 60px;
    padding-bottom: 60px;

    /*box-shadow: inset 0px 12px 20px 0px rgba(0, 0, 0, 0.20);*/

    /*background: url('http://localhost:8888/blockspeed/wp-content/uploads/2018/04/blockspeed-bg-5.png');*/
    /*background-size: cover;*/
    /*background-position: top;*/
}

body.home section#newsletter-cta .blockspeed-form{

    transform: none;
    padding: 0px;
}

body.home section#newsletter-cta .blockspeed-form small{

    display: block;
    text-align: center;
}