.stm_news_grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    &__single {
        width: 50%;
        padding: 0 15px;
        margin: 0 0 40px;
    }
    &__image {
        border-radius: 4px;
        overflow: hidden;
        img {
            width: calc(100% + 10px);
            max-width: initial !important;
            transform: translateX(-10px) translateZ(0);
            transition: .45s ease;
        }
        &:hover {
            img {
                transform: translateX(0);
            }
        }
    }
    h4 {
        padding: 15px 0 0;
        margin: 0 0 15px;
        a {
            text-decoration: none !important;
            transition: .3s ease;
        }
    }
    &__excerpt {
        margin: 0 0 15px;
    }
    &__bottom {
        & > * {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
            &:last-child {
                margin-right: 0;
            }
        }
        .date {
            margin-bottom: 5px;
            i {
                position: relative;
                top: 1px;
                margin-right: 3px;
            }
        }
        .views {
            margin-bottom: 5px;
            i {
                margin-right: 3px;
            }
        }
    }
    &__category {
        a {
            display: inline-block;
            vertical-align: top;
            padding: 5px 10px;
            margin-bottom: 5px;
            border-radius: 16px;
            border: 1px solid #a8a8a8;
            transition: .3s ease;
            text-decoration: none !important;
            text-transform: uppercase;
            font-size: 12px;
            &:hover {
                a {
                    color: #fff !important;
                }
            }
        }
    }
}