#white_list {
    position: relative;
    padding:40px 30px 0 0;
}

#white_list select {
    width: 300px;
    height: 30px;
    line-height: 30px;
}

#white_list .filter {
    margin: 0 0 50px;
}

#white_list .inner {
    position: relative;
    transition: .3s ease;
}

#white_list >.fa-refresh {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -15px;
    font-size: 40px;
    color: #9b4dca;
    opacity: 0;
    visibility: hidden;
}

#white_list.loading .inner {
    opacity: 0.5;
}

#white_list.loading > .fa-refresh {
    opacity: 1;
    visibility: visible;
}

#white_list .filter select {
    margin: 0 0 0 15px;
}

#white_list table tbody tr.loading td {
    opacity: 0.5;
}

#white_list table tbody .fa-refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    margin: -13px 0 0;
    color: #9b4dca;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

#white_list table tbody tr.loading .fa-refresh {
    opacity: 1;
    visibility: visible;
}

#white_list table td {
    width: 17%;
}

#white_list table tr th:last-child,
#white_list table tr td:last-child {
    text-align: right;
}

#white_list table td.details {
    position: relative;
    width: 25%;
}

#white_list table td.status {
    width: 10%;
}

#white_list table td.name {
    width: 10%;
}

#white_list table td.actions {
    width: 25%;
}

#white_list .button {
    margin-bottom: 0;
    padding: 5px 15px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}

#white_list .button.approve {
    background-color: #99e600;
    border-color: #99e600;
}

#white_list .button.approve:hover {
    background-color: #009e55;
    border-color: #009e55;
}

#white_list .button.decline {
    margin-left: 15px;
    background-color: #ff4040;
    border-color: #ff4040;
}

#white_list .button.decline:hover {
    background-color: #d9000b;
    border-color: #d9000b;
}

#white_list .declined .status {
    color: #ff4040;
}

#white_list .pending .status {
    color: #4d8ef5;
}

#white_list .approved .status {
    color: #009e55;
}

#white_list .pagination {
    margin: 0 -5px;
}

#white_list .pagination a {
    padding: 5px 8px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #9b4dca;
    outline: none !important;
}

#white_list .pagination a.active {
    background-color: #9b4dca;
    color: #fff;
}