.stm_ico_video {
    display: inline-block;
    position: relative;
    text-align: left;
    &:after {
        content: '';
        clear: both;
        display: block;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 54px;
        height: 54px;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    a {
        padding-left: 70px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none !important;
        cursor: pointer;
        &:hover {
            h4 {
                color: $stm_secondary_color;
            }
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 54px;
            border: 2px solid #fff;
            border-radius: 50%;
            animation: stm_zoom 0.8s linear .4s infinite;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 27px;
            margin: -12px 0 0 -5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent #ffffff;
            @include transition();
            transform-origin: center center;
        }
    }
    h4 {
        position: relative;
        top: 3px;
        padding: 0;
        margin: 0 0 7px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        @include transition();
    }
    span {
        display: block;
        position: relative;
        top: -3px;
        color: rgba(255,255,255,0.5);
    }
}